.hidden {
  color: transparent;
  caret-color: black;
  border-bottom: 1px solid black;
}

.hidden:hover {
  color: inherit;
}

.mark {
  outline: 2px solid orange;
  animation: blink 1s steps(2, end) 60s 60;
}

.mark:hover {
  animation: none;
}

@keyframes blink {
  to {
    outline: none;
  }
}