.item {
  padding: 10px;
  border: 1.5px solid;
  border-radius: 3px;
  margin: 4px 0px;
}

.item-diff-frame {
  border: 1px solid;
  border-radius: 2px;
  border-color: lightgray;
  padding: 5px;
  user-select: text;
}

.item-toolbar {
  opacity: 0.3;
  transition: 0.5s;
}

.item-toolbar:hover {
  opacity: 1;
}

@media print {
  .item {
    border-color: black !important;
  }
}